@model IEnumerable<STANHOTEL.Models.Prenotazione>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.DataPrenotazione)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DataInizioSoggiorno)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DataFineSoggiorno)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Acconto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cliente)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Camera)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Pensione)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CostoTotaleEsclusiServizi)
        </th>
        <th>
            Servizi Aggiuntivi
        </th>
        <th>Edit</th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.DataPrenotazione)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DataInizioSoggiorno)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DataFineSoggiorno)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Acconto)
        </td>
        @Html.HiddenFor(modelItem => item.ID_Cliente)
        <td>
            @Html.DisplayFor(modelItem => item.Cliente)
        </td>
        @Html.HiddenFor(modelItem => item.ID_Camera)
        <td>
            @Html.DisplayFor(modelItem => item.Camera)
        </td>
        @Html.HiddenFor(modelItem => item.ID_Pensione)
        <td>
            @Html.DisplayFor(modelItem => item.Pensione)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CostoTotaleEsclusiServizi)
        </td>
        <td>
            @foreach (var servizio in item.Servizi)
            {
                <span class="badge">@Html.DisplayFor(modelItem => servizio.Descrizione)</span>
            }
        </td>
        <td>
            @*@Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
        @Html.ActionLink("Details", "Details", new { id=item.Id }) |*@

            @Html.ActionLink("+Servizio (coming soon)", "Servizio", new { id = item.Id }, new {@class = "btn btn-primary" })
            @Html.ActionLink("Delete", "Delete", new { id = item.Id }, new { @class = "btn btn-danger" })
        </td>
    </tr>
}

</table>
