@model IEnumerable<STANHOTEL.Models.Camera>

@{
    ViewBag.Title = "Index";
}

<h2>Lista camere</h2>

@Html.Raw(ViewBag.Success)
@Html.Raw(ViewBag.Error)

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Numero)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Occupata)
        </th>
        @*<th>
                @Html.DisplayNameFor(model => model.ID_TipologiaCamera)
            </th>*@
        <th>
            @Html.DisplayNameFor(model => model.Tipo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Costo)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        
            @Html.HiddenFor(modelItem => item.ID_TipologiaCamera)

        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Numero)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Occupata)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Tipo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Costo)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                @Html.ActionLink("Details", "Details", new { id = item.ID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.ID })
            </td>
        </tr>
    }

</table>
